  body{ 
    font-size: 20px;
    word-break: break-all; 
    word-wrap: break-word;
  }
  form{
    display: inline;
    }

  .btn{
  margin: 5px;
  }
  .badge{
    background-color: #ff6666;
  }
 .btn .badge{
  color: black;
    background-color: yellow;
    vertical-align: top;
 }
  .header{
    background-color: #404040;
    text-align: center;
  }
  .headicon{
    font-size: 20px;
  }
  .header a{
    font-size: 18px;
  }

@media (max-width:600px) {
  .topic {
      font-size: 0px !important;
  }
  .btn .logout{
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: 0;
  }
}  

  .wholechat{
  width: 100%; 
  height: 300px; 
  overflow: auto;
  padding: 5px;
  line-height: 22px;
  }

  .incoming{
    background-color: pink;
    float: left;
    min-width: 100px;
    max-width: 80%;
    border-radius: 9px;
    padding: 4px;

  }
  .outgoing{
    background-color: #ccffff;
    float: right;
    min-width: 100px;
    max-width: 80%;
    border-radius: 9px;
    padding: 4px;
  }
  p.letters {
      word-wrap: break-word;
  }

  p.words {
      word-wrap: normal;
  }    
  textarea{
  width: 250px;
  padding: 4px;
  border: 0;
  background-color: #ddffcc;
  border-radius: 20px;
  outline: none;
  }


  .msz_time{
    font-size: 12px;
    color: green;
  }
  .msz{
    font-size: 18px;
    max-width: 80%;
  }
  .wholechat{
    height: 350px;
  }
  .chat_table{
    width: 100%;
  }
  .chat_table tr {
    width: 100%;
  }
@media (max-width:600px) {
  .wholechat{
    height: 280px;
  }
}
