body{
	padding: 0;
	margin: 0;
	font-size: 20px;
}
nav{
	padding: 0;
	margin: 0;
	background-color: black;
	font-size: 32px;
	color: yellow;
	text-align: center;
}
footer{
	background-color: white;
	text-align: center; color: black;
	width: 100%;
	font-style: italic;
	font-size: 18px;
}
footer div{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  line-height: 1.6;
  padding-bottom: 20px;

}
footer div a{
  color: blue;
  white-space: nowrap;
}

img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
	padding: 2px 15px 2px 15px;
	margin: 2px 0 2px 0;
	line-height: 1.4;
}
.question{
	padding: 2px 5px 2px 15px;
	margin: 2px 0 10px 0;
	border: 1.5px solid black;
	font-size: 20px;
	color:blue;
	word-break: break-all; 
	word-wrap: break-word;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.answer{
	padding: 0 5px 0 5px;
	margin: 0;
	font-size: 18px;
	color : black;
	word-break: break-all; 
	word-wrap: break-word;

}
input{
	font-size: 20px;
	height: 30px;
	width: 400px;
	max-width: 95%;
}
button{
	font-size: 20px;
	padding: 4px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}
form{
	margin-left: 10px;
}
