 body{ 
    font-size: 22px;
/*    word-break: break-all; 
    word-wrap: break-word;
*/  }
  form{
    display: inline;
    }

.blue {
  color: white;
  background-color: blue;
}
  .btn{
  margin: 5px;
  }
  .badge{
    background-color: #ff6666;
  }
 .btn .badge{
  color: black;
    background-color: yellow;
    vertical-align: top;
 }
  .header{
    background-color: #404040;
    text-align: center;
  }
  .headicon{
    font-size: 20px;
  }
  .header a{
    font-size: 18px;
  }
  textarea, input{
    border: 0;
    background: #ffffe6;
    width: 430px;
    max-width: 100%;
  }

@media (max-width:600px) {
  .topic {
      font-size: 0px !important;
  }
  .btn .logout{
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: 0;
  }
}  