{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>FAQ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="{% static 'icon.jpg' %}" rel="icon">
  <link href="{% static 'icon.jpg' %}" rel="apple-touch-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">

</head>

<body>
<nav> Squirrel</nav>
<div class="content">
	<h2>All FAQ (Frequently Asked Questions)</h2>
	<p>Ask a Question </p>
    <form action="/public/ask/" method="POST" >
        {% csrf_token %}
		<input type="text" name="question" required placeholder="ask a question here">
		<br><br>
		<button type="submit"> submit </button>
   </form>
   <br>

   {%  for q,anslist in allqans_list %}
	<div class="question">
		<p> <strong> Q.{{forloop.counter}}) {{ q.question }} </strong></p>
	   
	{% if ishelp %}
	<a style="color: red;" href="/public/delq/{{ q.id }}"> delete this Q</a> <br><br>
	    <form action="/public/ansfaq/" method="POST" >
	        {% csrf_token %}
			<input type="number" style="display: none;" name="qid"  value="{{q.id}}">
			<input type="text" name="ans" required placeholder="write answer here">
			
			<button type="submit"> submit </button>
	   </form>
	{% endif%}


   			{% for  ans in anslist %}
				<div class="answer">
					
			{% if ishelp %}
			<a style="color: red;" href="/public/delans/{{ans.id}}"> delete this answer</a>
			{% endif%}

					<span style="color:green;"> Ans.{{forloop.counter}}) </span>
					<p> {{ans.answer}}</p>
				</div>
			{% endfor %}
	</div>
	{% endfor %}

</div>
<br><br><br>
<footer>
  <div>
  <a href="/"> Home </a> &nbsp; | &nbsp;
  <a href="/public/faq"> Help Desk </a> &nbsp; | &nbsp;
  <a href="/public/1"> Founder & CEO</a> &nbsp; | &nbsp;
  <span>&#169; 2020 Squirrel Product </span>
  </div>
</footer>
</body>
</html>