{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Public Profile </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="{% static 'icon.jpg' %}" rel="icon">
  <link href="{% static 'icon.jpg' %}" rel="apple-touch-icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/public_home.css' %}">

</head>
<body>
<div class="well">
  <a class="btn btn-info" role="button" id="profile" href="/">Home</a>
 
  <p> {{ profilelist|length }} results </p>
    {% for i in profilelist %}
  	<div class="well" style="max-width: 600px; text-align: center;">
      <div class="well">
        <p>    <b> {{i.fullname}}  </b>		 </p>
            <img src="{% static 'user.png' %}" alt="{{user.username}}" style="width:40%">
          </div>
      <div class="well" style="text-align: left; padding-left: 5%;"> 
        <p>About        <b> {{i.bio}}  </b>		 </p>
        <p>Lives in   <b> {{i.livesin}}  </b>   </p>
        <p>From       <b> {{i.hometown}}  </b>  </p>
        <p>Studies/working at <b> {{i.school}}  </b>    </p>
      </div>
    </div>
        {% endfor %}

  <p >You can see public profiles only </p>
  <p style="color: blue;">You must login to follow</p>
</div>

</body>
</html>
