{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="{% static 'icon.jpg' %}" rel="icon">
  <link href="{% static 'icon.jpg' %}" rel="apple-touch-icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/verifyme.css' %}">

</head>
<body>
<nav> Squirrel</nav>
<h2 style="text-align: center; color: white;">Enter the OTP sent to your registered email</h2>
	<div class="otpdiv">
    <form action="{{action}}" method="POST">
        {% csrf_token %}
        <span>OTP : </span> 
        <input type="number" placeholder="6 digit OTP" name="num"
         minlength="6" maxlength="6" autofocus required> <br><br>
        <button  type="submit"> Verify </button> <br>
		<div>
			{% for message in messages %}
			<p style="text-align: center;font-size: 20px;color:rgb(121, 4, 4);">
			{{message}}
			</p>
			{% endfor %}
		</div>
	</form>
	<br>
	<a href="{{action2}}"> Didn't get OTP ? </a>

	</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
  <div>
  <a href="/public/" target="_blank">How to use </a> &nbsp; | &nbsp;
  <a href="/public/2">Help Desk </a> &nbsp; | &nbsp;
  <a href="/public/1"> Founder & CEO</a> &nbsp; | &nbsp;
  <span>&#169; 2020 Squirrel Product </span>
  <br></div>
</footer>

</body>
</html>